<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Information Student Display</title>
</head>
<body>

<div>Information of Student</div> <br>

<div style="display: inline-flex;">FirstName: <div th:text="${student.firstName}"></div></div> <br><br>
<div style="display: inline-flex;">LastName: <div th:text="${student.lastName}"></div></div> <br><br>
<div style="display: inline-flex;">Country: <div th:text="${student.country}"></div></div> <br><br>
<div style="display: inline-flex;">Favorite Language: <div th:text="${student.favoriteLanguage}"></div></div> <br><br>
<div style="display: inline-flex;">Operating System (String): <div th:text="${student.getOperatingSystemData()}"></div></div> <br><br>
<div style="display: inline-flex;">Operating System (DataRow):
  <ul th:each="operatingSystem : ${student.getOperatingSystem()}">
    <li th:text="${operatingSystem}">...</li>
  </ul>
</div>
<br><br>

</body>
</html>
